/* TodoApp.module.css */
.container {
  background-color: #ffffff; 
  width: 500px;
  height: 500px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 800;
  color: #1a1c20;
}